@import './base.css';

#app {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 !important;
    width: 100%;
    font-weight: normal;
    height: 100vh;
}

a {
    text-decoration: none;
}

@media (min-width: 1024px) {
    body {
        display: flex;
    }

    #app {
    
        display: flex;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}


@media (min-width: 700px) {
    h1 {
        font-size: 26px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    p {
        font-size: 16px !important;
    }

    span {
        font-size: 16px !important;
    }
}